@import "./../../../../variables.scss";

.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
.blog-post {
    background: $LightNavy;
    border: 1px solid $LightestNavy;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;
    
 
    .blog-post-header {
        border-bottom: 1px solid $LightestNavy;
  padding-bottom: 10px;
  
      h2 {
        color: $White;
        font-family: $MainFont;
        font-size: 1.5em; // Larger font size for readability
        margin: 0 0 10px;
      }
  
      .blog-post-meta {
        color: $Slate;
        font-family: $MainFont;
        font-size: 0.9em;
  
        span {
          display: inline-block;
          margin-right: 15px;
  
          &:before {
            content: '\2022';
            margin: 0 7px;
          }
  
          &:first-child:before {
            content: none;
          }
        }
      }
    }
  
    .blog-post-content {
        color: $White;
        font-family: $MainFont;
        font-size: 1em; // Adjust font size for mobile readability
        line-height: 1.6;
    }
  
    .blog-post-footer {
        margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid $LightestNavy;
  color: $Slate;
  font-family: $MainFont;
  
      .comments-count {
        font-style: italic;
      }
    }
  }
  .modal {
    z-index: 1000;
    position: fixed;
    display: flex; // Use flex to center the child div
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); // Semi-transparent background
  }
  
  .modal-content {
    background-color: $LightNavy;
    color: $White;
    margin: auto; // Centering inside the flex parent
    padding: 20px;
    border: 1px solid $LightestNavy;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .blog-post-content, .blog-post-content-full {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  // Adjust the close button size and position if necessary
  .modal .close {
    color: $Slate;
    font-size: 28px;
    padding: 5px;
    margin: -10px -10px 10px 0;
    cursor: pointer;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: $White;
    text-decoration: none;
  }
  .blog-post-comments {
    margin-top: 20px;
    background-color: $LightestNavy; // A lighter background to differentiate the comments section
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h3 {
      color: $Green;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none; // Removes bullet points
      padding: 0;
  
      li {
        background-color: $Navy; // Dark background for individual comments
        color: $LightSlate;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
  
        &:last-child {
          margin-bottom: 0; // Removes margin from the last item
        }
  
        p {
          color: $White;
          margin: 0; // Resets margin
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
  
        small {
          display: block; // Makes the author's name display on a new line
          margin-top: 8px;
          font-size: 0.8em;
          color: $LightSlate;
        }
      }
    }
  }
  .comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px; // Adds space between form elements
    margin-top: 20px;
  
    input[type="text"],
    textarea {
      width: 100%; // Full width of the container
      padding: 10px; // Padding inside the inputs
      margin-bottom: 10px; // Space between each input
      border: 1px solid $LightSlate; // Border color
      border-radius: 4px; // Rounded corners
      background-color: $LightestNavy; // Input background color
      color: $White; // Text color
      font-family: $MainFont; // Font family
  
      &::placeholder {
        color: $Slate; // Placeholder text color
      }
  
      &:focus {
        outline: none;
        border-color: $Green; // Border color when input is focused
        box-shadow: 0 0 0 2px $GreenOpacity; // Adds a 'glow' effect
      }
    }
  
    button[type="submit"] {
      padding: 10px 15px;
      background-color: $Green;
      color: $Navy;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1em;
      font-family: $MainFont;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: darken($Green, 10%); // Darkens the button on hover
      }
  
      &:disabled {
        background-color: $LightSlate;
        cursor: not-allowed;
      }
    }
  }
  .notification-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $Green;
    color: $Navy;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1050; // Higher than the modal but lower than any potential tooltips
    animation: slideIn 0.5s ease-out;
  
    p {
      margin: 0;
      text-align: center;
      font-family: $MainFont;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-50%) translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .blog-post {
      padding: 15px;
      margin: 15px auto; // Centers the blog post
      width: calc(100% - 30px); // Adjust width based on padding
    }
  
    .blog-post-header h2 {
      font-size: 1.5em; // Adjust font size for readability
    }
  
    .blog-post-meta,
    .blog-post-content,
    .blog-post-footer {
      font-size: 0.9em; // Adjust font size for meta and content
    }
  }
  
  @media (max-width: 480px) {
    .blog-post {
      width: 200px; // Set the width to 200px
      margin: 20px auto; // Center the blog post by setting the horizontal margin to auto
      padding: 10px;
    }
  
    .blog-post-header h2 {
      font-size: 1.3em; // Adjust if necessary for the smaller width
    }
  
    .blog-post-meta,
    .blog-post-content,
    .blog-post-footer {
      font-size: 0.85em; // Adjust if necessary for the smaller width
    }
  
  
    .modal-content {
        width: 320px; // Set the width of the modal to 200px
        padding: 20px;
        margin: 10% auto; // Center the modal vertically and horizontally
        border-radius: 10px; // Optional: Add rounded corners for aesthetics
        // Ensure the modal is not too tall for the viewport height
        max-height: 90vh;
        overflow-y: auto; // Allows scrolling within the modal if the content is too long
        box-sizing: border-box; // Ensures padding is included in the width
      }
      .blog-post-content, .blog-post-content-full {
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
      
    
      // Adjust the close button size and position if necessary
      .modal .close {
        font-size: 24px;
        padding: 5px;
        margin: -10px -10px 10px 0; // Adjust as needed
      }
    
  }